* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 100px;
}

.input-container {
  width: 50%;
}
.input-tag{
  width: 100%;
  padding: 10px 5px;
  border-radius: 10px;
}
.results-div{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border: 1px solid black;
  max-height: 400px;
  overflow-y: scroll;


}
.recommendation{
  width: 100%;
  padding: 5px 0px;

}
.recommendation:hover{
  background-color: aquamarine;
}